<section id="{{id}}" class="tabs tabs--{{color}}">

    <!-- Number -->
    

    <!-- Intro -->
    <div class="container u_mb-2 _border-top">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="tabs__header">
                    <div class="tabs__index circle">
                        {{tabs-index}}
                    </div>
                    <h2 class="section-title">
                        {{tabs-title}}
                    </h2>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="tabs__intro">
                    {{#markdown markdown}}{{/markdown}}
                </div>
            </div>
        </div>
    </div>


    {{!-- Scroll Helper --}}
    <div class="container tabs__scroll-helper">
        <div class="row">
            <div class="col-12">
                <span>scroll</span>
                {{> svg.icon-arrow-right }}
            </div>
        </div>
    </div>

    <!-- Tabs -->
    <div class="tabs__container">
        <div class="tabs__buttons-list" role="tablist" aria-label="{{tabs-title}} tabs">
            {{#> tab-buttons }}{{/tab-buttons }}
        </div>
        <div class="tabs__contents-wrapper">
            {{#> tabbed-content }}{{/tabbed-content }}
        </div>
    </div>

</section>
