{{! Blog }}

{{#> layouts._html-shell
    pageClass="page-article"
    pageUrl="https://wwww.microblocks.fun/article"
    _pageDescription="Article template."
}}

{{#*inline "main-content"}}


<!-- Header -->
<header class="page-article__header">
    <div class="container">
        
        <!-- Picture -->
        <div class="row">
            <div class="col col-lg-8 offset-lg-2">
                <picture class="page-article__picture">
                    <source media="(min-width: 768px)" srcset="thumbnail.jpg">
                    <source media="(max-width: 767px)" srcset="thumbnail.jpg">
                    <img src="thumbnail.jpg" alt="{{title}}" />
                </picture>
            </div>
        </div>

        <!-- Header Text -->
        <div class="row">
            <div class="col col-lg-8 offset-lg-2">
                <time class="page-article__date" datetime="{{publication-date}}" pubdate="pubdate">{{ date-string publication-date }}</time> 
                <h1 class="page-article__title">{{ title }}</h3>
                <div class="page-article__details">
                    <address class="page-article__credits">
                        by <a href="{{author-link}}" class="page-article__author">{{author}}</a>, <a href="{{company-link}}" class="page-article__organisation">{{company}}</a>
                    </address>
                    <p class="page-article__update">
                        Latest update: <span>{{ date-string last-update }}</span>
                    </p>
                </div>
            </div>
        </div>

    </div>
</header>
<!-- Header -->


<!-- Contents -->
<div class="main__contents">
    <div class="container">
        <div class="row">
            <div class="col col-lg-8 offset-lg-2">
                <div class="article-text">
{{#markdown}}{{/markdown}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contents -->

{{/inline}}
{{/layouts._html-shell}}
