<!-- Modal -->
<div class="modal">

    <div class="modal__content">

        <!-- 
            can place either a text or an image with
            - modal__content-text (has padding)
            - modal__content-image (no padding)
            - both of them

            they'll have a maximum with on bigger screens,
            should work well with any image

            smaller images, won't take the max width, 
            so it works with portrait images
         -->

        {{#if show-text}}
        <div class="modal__content-text">
            <h2 class="modal__title">
                {{modal-title}}
            </h2>
            <div class="modal__message">
                <p>
                {{message}}
                </p>
            </div>
        </div>
        {{/if}}

        {{#if img}}
        <a href="{{href}}">
            <div class="modal__content-image">
                <img src="{{img}}" alt="{{img-alt}}">
            </div>
        </a>
        {{/if}}

    </div>

    <div class="modal__close" role="button" aria-label="Close Modal">
        {{> svg.icon-hide }}
    </div>
    <script>modalInit('{{modal-title}}');</script>
</div>

